<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    <div><h3>原本内容</h3></div>
    <button type="button" onclick="loadXMLDoc()">改变内容</button>
</body>

<script type="text/javascript">
    function loadXMLDoc(){
    var xmlhttp = new XMLHttpRequest();

    var url = "/css/style.css";
    var method = "GET";
    xmlhttp.open(method,url);
    xmlhttp.send(null);
    xmlhttp.onreadystatechange = function(){
    if (xmlhttp.readyState == 3) {
    alert(xmlhttp.readyState);
    }
    if(xmlhttp.readyState == 4){
    if(xmlhttp.status == 200 || xmlhttp.status == 304){
    alert(xmlhttp.responseText);
    }
    }
    }
    }
</script>

</html>