<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commons::head(title='车辆审核')"></head>
<body>
<!-- 整个导航栏 -->
<div th:replace="commons::topper(uri='car')"></div>
<!-- //整个导航栏 -->

<div style="height:10px"></div>

<div class="table-responsive" style="height:700px">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th th:if="${session.vip==true}">申请人</th>
            <th th:if="${session.vip==true}">真实姓名</th>
            <th>车辆牌照</th>
            <th>品牌</th>
            <th>颜色</th>
            <th>请求日期</th>
            <th>状态</th>
            <th th:if="${session.vip}">操作</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="carRequest:${carRequests}">
            <td th:text="${carRequest.ownerUserName}" th:if="${session.vip==true}"></td>
            <td th:text="${carRequest.ownerRealName}" th:if="${session.vip==true}"></td>
            <td th:text="${carRequest.license}"></td>
            <td th:text="${carRequest.brand}"></td>
            <td th:text="${carRequest.color}"></td>
            <td th:text="${#dates.format(carRequest.date , 'yyyy-MM-dd&nbsp;HH:mm')}"></td>

            <td th:if="${carRequest.state==-1}">审核失败</td>
            <td th:if="${carRequest.state==0}">等待审核</td>
            <td th:if="${carRequest.state==1}">审核成功</td>

            <!--管理员页面才有-->
            <td th:if="${session.vip==true}">
                <form th:action="@{/carRequest_yes/}+${carRequest.id}" method="post" style="display:inline-block; ">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit" class="btn btn-sm btn-danger" th:disabled="${carRequest.state!=0}">通过</button>
                </form>
                <form th:action="@{/carRequest_no/}+${carRequest.id}" method="post" style="display:inline-block; ">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit" class="btn btn-sm btn-danger" th:disabled="${carRequest.state!=0}">不通过</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>