<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons::head(title='修改信息')"></head>
<body>
<!-- 整个导航栏 -->
<div th:replace="commons::topper(uri='info')"></div>
<!-- //整个导航栏 -->

<!-- contact -->
<div class="contact agileits">
    <div class="container" style="height:600px">
        <h3 class="agileits-title" th:text="修改信息"></h3>
        <div class="contact-agileinfo">
            <div class="col-md-7 contact-form wthree">
                <form action="info" method="post" style="position:relative; left:350px">
                    <input type="hidden" name="_method" value="put">
                    <!--<div class="form-group row">-->
                    <!--<label for="staticEmail" class="col-sm-2 col-form-label">ID</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input name="id" th:value="${account.id}" type="test" readonly  class="form-control-plaintext" id="staticEmail">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">真实姓名</label>
                        <div class="col-sm-10">
                            <input name="realName" th:value="${account.realName}" type="text"  class="form-control-plaintext" id="staticEmail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">昵称</label>
                        <div class="col-sm-10">
                            <input name="nickName" th:value="${account.nickName}" type="text"  class="form-control-plaintext" id="staticEmail">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">用户名</label>
                        <div class="col-sm-10">
                            <input name="userName" th:value="${account.userName}" type="text"  class="form-control-plaintext" id="staticEmail">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">楼栋-层数-门牌号</label>
                        <div class="col-sm-10">
                            <input type="text" name="address" th:value="${account.address}" class="form-control" id="inputPassword">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10" >
                            <input value="修改" type="submit" class="form-control" id="inputPassword" style="width:250px">
                        </div>
                    </div>
                </form>

            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //contact -->

<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- start-smooth-scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.js"></script>
</body>
</html>